<div style="float: left;width: 100%;">

  <div id="show_comments_div" style="float: left;width: 100%;">
    <%= render :partial=>"/comments/show_comments"%>
  </div>

  <div id="add_comments_div" style="float: left;width: 100%;">
    <%= render :partial=>"/comments/add_comment"%>
  </div>

</div>