<% remote_form_for :comment,@comment, :url=>{:controller=>"comments" , :action=>"update_comment", :id=>@object.id , :class_name => @object.class, :comment_id => @comment.id} do |f| %>


  <div style="float:left;width:100%;">
    <%= f.text_area :comment , :size => "58x3" %>
  </div>


  <div style="float:right;width:100%;text-align: right;margin-top: 10px;">
    <%= f.hidden_field :user_id , :value=>current_user.id %>

    <%= f.submit "Update Comment", :style => "background-color: lightslategrey;width: 140px;color: white;"  %>

  </div>

<%end%>

