<div style="float: left;width: 95%;">

  <div id="show_tasks_div" style="float: left;width: 100%;">
    <%= render :partial=>"/tasks/show_tasks"%>
  </div>

  <div id="add_tasks_div" style="float: left;width: 100%;">
    <%= render :partial=>"/tasks/add_task"%>
  </div>

</div>