<div style="width:100%;float: left;">
  <h2>
    Update a bill
  </h2>
</div>
<span style="float: right;margin-right: 32px;margin-top: -100px;">
  <%= link_to image_tag("back_button.jpeg"), portal_bills_path(:id => @portal.id) %>
</span>
<div style="width:100%;float: left;">

  <% form_for :bill, @bill, :url => bill_update_path(:id => @portal.id, :bill_id => @bill.id) do |f|%>
    <%= error_messages_for :bill %>

    <%= render :partial => "form", :locals => {:f => f, :portal => @portal} %>

    <div style="margin: 10px;float: right;">
      <%= f.submit "Update Bill", :style => "background-color: lightslategrey;width: 140px;color: white;" %>
    </div>

  <% end %>

</div>
